// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body 
{
    height: 100%;
}

/* my Code starts here */

/* Global variables, elements only */
@background-color: floralwhite;
@section-color: lightblue;
@text-color: dimgray;
@h3-color: azure;

/* Global styles for elements */
.section-style()
{
	background: @section-color;
	display: flex;
	justify-content: center;
	color: @text-color;
	padding: 20px;
}

.h1-style()
{
	font-size: 2em;
	color: @text-color;
}

.h2-style()
{
	font-size: 1.5em;
	color: @text-color;
}

.h3-style()
{
	font-size: 1.0em;
	color: h3-color;
}

html 
{ 

	background: @background-color;
}

body { 
	width: 800px;
	height: auto;
	margin: 0 auto;
}

main-container
{
	/* Mixins for the contact section*/
	.contact-line-style()
	{
		display: flex;
		flex-flow: wrap;
		justify-content: flex-start;
	}
	
	.contact-padding-style() 
	{ 
		padding-top: 5px;
		margin: 0px 0px 10px 10px;
	}
	
	.image-layout(@image-path, @width, @height)
	{
		background-image: url(@image-path);
		width: @width;
		height: @height;
		background-repeat: no-repeat;
	}
	/* End of Mixins for contact section */	
	
	header { .section-style; }
	
	.profile-image 
	{ 
		.image-layout("../images/Me.jpg", 191px, 208px);
		border: 4px solid @text-color;
	}
	
	.contact-information
	{	
		padding-left: 50px;
		h1 { .h1-style; }
		h2 { .h2-style; }
		
		.birthday-container, .email-container, .phone-container, .address-container
		{ .contact-line-style; }
		
		#birthday, #email, #phone, #address, #name, #title { .contact-padding-style(); }		
		.birthday-image { .image-layout("../images/bday.png", 24px, 24px); }
		.email-image { .image-layout("../images/email.png", 24px, 24px); }
		.phone-image { .image-layout("../images/phone.png", 24px, 24px); }
		.address-image { .image-layout("../images/address.png", 24px, 24px); }
	}
	
	.header-line
	{
		width: 100%;
		height: 5px;
		background: black;
		margin: 5px 0px 10px 0px;
		
	}
}


